<header>
  <nav>
    <ul>
      <li> <a href="/codinggames">Coding Game</a></li>
      <li> <a href="/geeksforgeeks">Geeks For Geeks</a></li>
      <li> <a href="/hackerrank/">Hacker Rank</a></li>
      <li> <a href="/leetcode">Leet Code</a></li>
    </ul>
  </nav>
</header>